

<head>
    <meta charset="utf-8" />
  

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
    crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../static/gameStyles.css">
  <!-- Stylesheet -->

  </head>



  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pixelcola</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="/game">CyberScramble</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gameV2">Portris</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gameV3">HangMan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/leaderBoard">Leader Board</a>
              </li> 
            </ul>
          {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign-up">Sign Up</a>
          </li> 
        </ul>
        {% endif %}
       
      </div>
    </div>
  </nav>
<br />
<br />
<br />

<div class="banner" id="banner">

    <p> Welcome {{ user.email }}</p>
    <p>Current Score: <span id="current-score">{{ user.score }}</span></p>
    <p> Current Level: <span id="current-level">{{ user.level }}</span> </p>

</div>

<div class="section">
    {% if user.level < 1 %} 
    <h2>Portris</h2>
    <div class="instructions">
    <p id="instructions">Match the Protocol to the correct Port</p>
    <p>A : LEFT , S : DOWN ,  D : RIGHT.</p>
    <div class="buttons">
    <button class="check-word" id="startButton">Start Game</button>
    <button id="resetButton" style="display: none;">Play Again</button>
    </div>
    </div>
    <br />
    
    <canvas id="PortrisCanvas"></canvas>
    
    

    <br />
    <br />
    
    
        {% else %}
        <h5>game!</h5>
        {% endif %}




<br />
</div>


<script>

let canvas;
let context2D;
let DIRECTION = {
    IDLE: 0,
    DOWN: 1,
    LEFT: 2,
    RIGHT: 3,
    UP: 4
};
let direction;

let gameOver;

let questionCount = 0;
let questionCountReset = 0;
let currentQuestion;
let currentAnswers;

const questions = [
    {
        x: 150, y: 10, width: 50, height: 50, question: "HTTP", answer: "Port 80",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "Port 110" },
            { x: 100, y: 320, width: 50, height: 50, answer: "Port 25" },
            { x: 200, y: 320, width: 50, height: 50, answer: "Port 443" },
            { x: 298, y: 320, width: 50, height: 50, answer: "Port 80" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "SMTP", answer: "Port 25",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "Port 110" },
            { x: 100, y: 320, width: 50, height: 50, answer: "Port 25" },
            { x: 200, y: 320, width: 50, height: 50, answer: "Port 443" },
            { x: 298, y: 320, width: 50, height: 50, answer: "Port 22" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "IMAP", answer: "Port 110",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "Port 22" },
            { x: 100, y: 320, width: 50, height: 50, answer: "Port 25" },
            { x: 200, y: 320, width: 50, height: 50, answer: "Port 110" },
            { x: 298, y: 320, width: 50, height: 50, answer: "Port 80" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "SSH", answer: "Port 22",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "Port 110" },
            { x: 100, y: 320, width: 50, height: 50, answer: "Port 25" },
            { x: 200, y: 320, width: 50, height: 50, answer: "Port 443" },
            { x: 298, y: 320, width: 50, height: 50, answer: "Port 22" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "FTP", answer: "Port 21",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "Port 110" },
            { x: 100, y: 320, width: 50, height: 50, answer: "Port 25" },
            { x: 200, y: 320, width: 50, height: 50, answer: "Port 21" },
            { x: 298, y: 320, width: 50, height: 50, answer: "Port 80" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "DNS", answer: "Port 53",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "Port 110" },
            { x: 100, y: 320, width: 50, height: 50, answer: "Port 25" },
            { x: 200, y: 320, width: 50, height: 50, answer: "Port 443" },
            { x: 298, y: 320, width: 50, height: 50, answer: "Port 53" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "NTP", answer: "Port 123",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "Port 123" },
            { x: 100, y: 320, width: 50, height: 50, answer: "Port 25" },
            { x: 200, y: 320, width: 50, height: 50, answer: "Port 110" },
            { x: 298, y: 320, width: 50, height: 50, answer: "Port 80" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "HTTPS", answer: "Port 443",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "Port 110" },
            { x: 100, y: 320, width: 50, height: 50, answer: "Port 25" },
            { x: 200, y: 320, width: 50, height: 50, answer: "Port 443" },
            { x: 298, y: 320, width: 50, height: 50, answer: "Port 22" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "i9", answer: "i1",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "i1" },
            { x: 100, y: 320, width: 50, height: 50, answer: "i2" },
            { x: 200, y: 320, width: 50, height: 50, answer: "i3" },
            { x: 298, y: 320, width: 50, height: 50, answer: "i4" }
        ]
    },
    {
        x: 150, y: 10, width: 50, height: 50, question: "j10", answer: "j1",
        answers: [
            { x: 4, y: 320, width: 50, height: 50, answer: "j1" },
            { x: 100, y: 320, width: 50, height: 50, answer: "j2" },
            { x: 200, y: 320, width: 50, height: 50, answer: "j3" },
            { x: 298, y: 320, width: 50, height: 50, answer: "j4" }
        ]
    },

];

let instruct;
let questionStartPosistionX = 150;
let questionStartPosistionY = 10;
let interval;

/*DOMContentLoaded event is fired when the initial HTML 
document has been completely loaded and parsed, without 
waiting for stylesheets, images, and subframes to finish 
loading. The "PortrisCanvas" element is stored in the canvas variable.
Also, the 2D rendering is stored in the context2D. 
Then the DrawCanvas() function is called.
*/
document.addEventListener('DOMContentLoaded', function() {
    canvas = document.getElementById('PortrisCanvas');
    context2D = canvas.getContext('2d');
    DrawCanvas();
});

/* DrawCanvas function displays the canvas, a border, 
listener for the key strokes, displays the first level,
and calls the Button() function.
*/
function DrawCanvas() {
    canvas.width = 685;
    canvas.height = 728;

    context2D.scale(2, 2);    
    context2D.fillStyle = 'white';
    context2D.fillRect(0, 0, canvas.width, canvas.height);

    context2D.strokeStyle = 'green';
    context2D.strokeRect(1, 1, 340, 362);

    document.addEventListener('keydown', KeyMoveShape);
    
    Buttons();  
        
}

/* Buttons() function stores the "startButton" and "resetButton" elements 
in the startButton and resetButton variables. When called if the game is not a gameOver,
then the first "if" statement is called, 
aftwards the second "if" statement will be called. 
It will also hide the startbutton and display the reset button. After the reset button is pressed,
the resetGame() function is called along with the Question(), Answer(), and start functions.
*/
function Buttons(){   
    const startButton = document.getElementById("startButton");  
    const resetButton = document.getElementById("resetButton");  
        
    if(!gameOver) {               
        startButton.addEventListener("click", function () {
            startButton.style.display = "none"; 
            RandomizeQuestion();         
            Question();
            Answer();
            Start();

        });
    }     

    if (gameOver){                                  
        startButton.style.display = "none";        
        resetButton.style.display = "block";                       
        resetButton.addEventListener("click", function () {
            window.clearInterval(interval);
            gameOver = false;         
            resetButton.style.display = "none"; 
            ResetGame(); 
            RandomizeQuestion();           
            Question();            
            Answer();              
            Start();                   
        });        
    }   
}

/* This function will randomize the objects in the questions array. */
function RandomizeQuestion(){
    for(let i = questions.length - 1; i > 0; i--){    
        let j = Math.floor(Math.random() * (i + 1));
        [questions[i], questions[j]] = [questions[j], questions[i]];   
    }   
}

/*Displays the question when called.*/
function Question() {            
    currentQuestion = questions[questionCount];       
    context2D.fillStyle = "green";
    context2D.fillRect(currentQuestion.x, currentQuestion.y, currentQuestion.width, currentQuestion.height);     
    context2D.fillStyle = "black";
    context2D.textAlign = "middle";    
    context2D.font = "16px Arial";
    context2D.fillText(currentQuestion.question, currentQuestion.x + 1, currentQuestion.y + 30, 39);           
}

/*Displays the answers when called.*/
function Answer() {     
    currentAnswers = questions[questionCount].answers;
    for (let i = 0; i < currentAnswers.length; i++) {        
        context2D.fillStyle = "red";
        context2D.fillRect(currentAnswers[i].x, currentAnswers[i].y, currentAnswers[i].width, currentAnswers[i].height);
        context2D.fillStyle = "black";
        context2D.textAlign = "middle";
        context2D.font = "16px Arial";
        context2D.fillText(currentAnswers[i].answer, currentAnswers[i].x + 1, currentAnswers[i].y + 30, 39);
    }     
}

/*Deletes the question by replacing its shape with the background color.*/
function Delete(){    
    context2D.fillStyle = "white";
    context2D.fillRect(currentQuestion.x, currentQuestion.y, currentQuestion.width, currentQuestion.height);
    context2D.fillStyle = "white";
    context2D.fillText(currentQuestion.question, currentQuestion.x + 1, currentQuestion.y + 30, 39);    
}

/*Responds to the A,S,D keys when playing the game.*/
function KeyMoveShape(key){
    if(!gameOver) {
        if (key.keyCode === 83) {           
            WordCollision();
            direction = DIRECTION.DOWN;
            Delete();
            currentQuestion.y++;
            Question();
        }

        if (key.keyCode === 68) {            
            HorizontalCollision();
            WordCollision();
            direction = DIRECTION.RIGHT;
            Delete();
            currentQuestion.x += 4;
            Question();
        }

        if (key.keyCode === 65) {            
            HorizontalCollision();
            WordCollision();
            direction = DIRECTION.LEFT;
            Delete();
            currentQuestion.x -= 4;
            Question();
        }
    }   
}

/*Checks for collisions with the walls.*/
function HorizontalCollision() {    
    let leftWall = 3;
    let rightWall = 348;

    if (currentQuestion.x <= leftWall) {        
        Delete();
        currentQuestion.x += 4;

    } else if (currentQuestion.x + 60 >= rightWall) {        
        Delete();
        currentQuestion.x -= 4;
    }
}

/*Detects collision with the shapes and sends over the question 
and the answer to be checked to the QandACheck() function. 
Also detects if the questions shape hits the bottom of the gameboard.
If true, then the nextQuestion() function is called.
*/
function WordCollision() { 
    let answer; 
    let bottomFrame = 360; 

    if(currentQuestion.y + currentQuestion.height > bottomFrame) {
        NextQuestion();
    } else {
        for (let i = 0; i < currentAnswers.length; i++) {
            if (currentQuestion.x < currentAnswers[i].x + currentAnswers[i].width && currentQuestion.x + currentQuestion.width > currentAnswers[i].x && currentQuestion.y < currentAnswers[i].y + currentAnswers[i].height && currentQuestion.y + currentQuestion.height > currentAnswers[i].y) {
                answer = currentAnswers[i].answer;
                Delete();
                currentQuestion.y--;                
                QandACheck(currentQuestion, answer);
            }         
        }
    }    
}

/*Checks to see if teh questions's answer object matches the answer's object. 
If true then points are awarded. As teh player scores higher points, 
the level will increase. Then the NextQuestion() function is called. 
*/
function QandACheck(currentQuestion, answer){      
    if (currentQuestion.answer === answer) {
        console.log("works")
        $.ajax({
            url: '/update_score',
            type: 'POST',
            data: { score: 5 },
            success: function (data) {
                // Update the score displayed on the page
                $('#current-score').text(data.score);
                $('#current-level').text(data.level);
            },
            error: function (error) {
                console.error('Error updating score:', error);
            }
            });
    }           
    NextQuestion();
}

/*Resets all the variables in the game to thier original posistion( the last question) and value.
The canvas is also deleted and reDrawn with DrawCanvas() Function.
*/
function ResetGame(){           
     
    questionCount = questionCountReset;
    context2D.clearRect(0, 0, canvas.width, canvas.height);
    direction = DIRECTION.IDLE;     
    currentQuestion.x = questionStartPosistionX;
    currentQuestion.y = questionStartPosistionY; 
    
    DrawCanvas();
}

/* Detects when the game is over and displays "Game Over".
Afterwards all questions positions are reset to their original posistions.
*/
function GameOver(){
    context2D.fillStyle = "black";
    context2D.textAlign = "middle";    
    context2D.font = "16px Arial";
    context2D.fillText("Game Over", 150, 100, 50, 30);    
    for(let i = 0; i < questions.length - 1; i++){
        questions[i].x = questionStartPosistionX;
        questions[i].y = questionStartPosistionY;
    }   
    Buttons();
}

/*Checks to see if there is another question left in the array of objects.
if true, the next question will be called, 
if false, "gameOver" is set to true and the game will stop.
*/
function NextQuestion(){      
    if (questionCount < questions.length - 1) {
        Delete();               
        questionCount++;
        Question();
        Answer();               
    }else{
        Delete();
        gameOver = true;                   
        GameOver();    
    }   
}

/*Checks to see if the game is over. 
If false then the block will increment by a timer,
deleting and redrawing. Giving the illusion of it falling.
*/
function Start(){    
    interval = window.setInterval(function(){        
        if (!gameOver) {
            WordCollision();
            Delete();      
            currentQuestion.y++;
            Question();
        } 
    }, 20);
}      

</script>

