body{
    text-align: center;
    background: rgb(158, 255, 174);  
}

#tetrisCanvas {
    background: rgb(194, 66, 199);
    /* background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed); */
    margin-left: 10px;
    margin-top: 10px;
}