body{
    text-align: center;    
}



#startButton, #resetButton {
    font-family: Arial;
    color: red;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: -100px;
    height: 100px;
    width: 200px;
    text-align: center;
    background-color: yellow;
}

#startButton:hover {
    background-color: aquamarine;
    
}

#instructions {
    background-color: aquamarine;
}