*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



form{
    color: white;
    width: 500px;
    justify-content: center;
    margin: auto;
    height: 450px;
    border:solid #222 2px;
    margin-top: 200px;
    padding: 10px;
    background-color: #333;
}



table{
    color: white;
    background-color: #555;
    width: 1000px;
    border: solid #555 3px;
    margin: auto;
    justify-content: center;
  
}

p{
    color: white;
}

body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #111, #111, #111, #111);
    color: white;
    min-height: 1000px;
    height: fit-content;

 
    


}

h1{
    color: white;
}

.map{
    width: 1100px;
    height: 1000px;
    position: relative;
    display: flex;
    margin: auto;


    
}

.map::before{
    content: "";
    background: url("../static/map1.png");
    background-size: cover;
    background-position: center ;
    height: 80%;
    width: 80%;
    margin: auto;
    justify-self: center;
   
    
}

.game1{
    width: 175px;
    height: 50px;
    position: relative;
  

    color: white;
    text-align: center;
 margin: auto;
 position: absolute;
 margin-left: 150px;
 margin-top: 175px;
 animation: pulse 1.5s infinite;
 border-color: #bf2e26;
 box-shadow: 0 0 50px #bf4026;
 width: fit-content;

}


.game2{
    width: 175px;
    height: 50px;
    position: absolute;
   

    color: white;
    text-align: center;
 margin: auto;
    
 margin-left: 700px;
 margin-top: 700px;
 animation: pulse 1.5s infinite;
 border-color: #bf2e26;
 box-shadow: 0 0 50px #bf4026;
 width: fit-content;
 
}

.game3{
    width: 175px;
    height: 50px;
    position: absolute;
   
   
    color: white;
    text-align: center;
    margin: auto;

    margin-left: 600px;
    margin-top: 400px;
    animation: pulse 1.5s infinite;
    border-color: #bf2e26;
    box-shadow: 0 0 50px #bf4026;
    width: fit-content;
}

@keyframes pulse {
    0% {
      transform: scale(1); /* Start at normal size */
    }
    50% {
      transform: scale(1.1); /* Scale up to 110% size */
    }
    100% {
      transform: scale(1); /* Return to normal size */
    }
  }



.containerV2{
    
    border-radius: 10px;
    background: #222;
    margin-top: 50px;
    height: 700px;
    margin: auto;
    border-color: #26bf47;
    box-shadow: 0 0 100px #26bf47;
	  transition: 0.5s;
    width: 1100px;

}

.banner{
    
    justify-content: center;
    margin: auto;
    height: 100px;
    background: #000;
    align-content: center;
    text-align: center;
    display: flex;
    width: 1000px;
    border-radius: 100px;
    padding: 10px;
    border:solid #333 5px;
}

.banner p{
    padding: 20px;
    font-size: 28px;
    color: white;
}

.containerV2 h2{
    font-size: 40px;
    font-weight: 600;
    padding: 20px 25px;
    border-bottom: 1px solid #333;
    color: #fff;
    text-align: center;
}

.containerV2 .WordContent{
    margin: 25px 20px 35px;
}

.WordContent .word{
    user-select: none;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 18px;
    margin-right: -18px;
    word-break: break-all;
    text-transform: uppercase;
    color: #5372f0;
}

.WordContent .details{
   justify-content: center;
   text-align: center;

}


.details p{
    font-size: 34px;
    margin-bottom: 10px;
    color: #bbb;
}

.content input{
    width: 100%;
    height: 100px;
    outline: none;
    padding: 0 15px;
    font-size:24px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #111;
    color:#bbb

}

.content input:focus{
    border-color: #5372f0;
    background-color: #222;
    color: #fff;
}

.content input::placeholder{
    color: #555;
}


.content input:focus::placeholder{
    color: #bbb;
}


.content .buttons{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.buttons button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 14px 0;
    font-size: 24px;
    border-radius: 8px;
    width: calc(50% - 6 px);
    width: 500px;
}

.section{
    width:1000px;
    margin: auto;
    justify-content: center;
    text-align: center;
    

}

#map {
    height: 100%;
  }
  

.buttons button:active{
    transform: scale(0.97);
}

.buttons .refresh-word{
    background: #5372f0;
}

.buttons .refresh-word:hover{
    background: #2c52ed;
}

.buttons .check-word{
    background-image: linear-gradient(to right, #40e495, #30dd8a, #2bb673);
}

.buttons .check-word:hover{
    background: #30dd8a;
}

.section h1{
  font-size: 42px;
}

td{
padding: 20px;
font-size: 30px;
}

th{
    padding: 20px;
    color: white;
    font-size: 36px;
}

tr{
    padding: 20px;
    color: white;
}

.refresh-word{
    width: 100px;
    height: 70px;
}

.check-word{
    width: 100px;
    height: 70px;
}

.checkForm{
    margin-top: 0px;
    padding: 0px;
    height: 70px;
}



@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate {
    animation: pulse 1s infinite;
  }

.animation {
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 60px;
    background-color: #555;
    border: solid 2px #333;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 26px;
    display: none; /* Initially hidden */
    /* Add animation properties here */
  }

  .map-p{
    text-align: center;
    color:black;
    justify-self: center;
    padding: 10px;
    font-size: 24px;
  }

  .greencheck{
    height: 50px;
    width: 50px;
  }
  
  .completed{
      height: 50px;
      width: 100px;
      display: flex;
      justify-content: center;
      margin: auto;
  }

  .circle{
    justify-content: center;
    margin: auto;
    width: 1100px; /* Set the width and height to create a circle */
    height: 1100px;
    border-radius: 50%; /* Make it a circle */
    border: solid 3px #34db6c; /* Set the background color of the circle */
    box-shadow: 0 0 100px #26bf47;
    background-color: #181818;
    }

  .game3section{
    max-width: 1140px;
    height: fit-content;
    border: solid #222;
    background-color: #333;
    padding: 10px;
    margin: auto;
    justify-content: center;
    text-align: center;
    border: solid 3px #34db6c; /* Set the background color of the circle */
    box-shadow: 0 0 100px #26bf47;
  }

  
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Start the rotation from 0 degrees */
    }
    100% {
      transform: rotate(360deg); /* End the rotation at 360 degrees (full circle) */
    }
  }

  .refresh-word2{
    width: 100px;
    height: 70px;
    border: color solid red;
}

.check-word2{
    width: 100px;
    height: 70px;
}

.buttons2{
    width: 100px;
    height: 100px;
}

.checkForm2{
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 12px;
   
}

.details2{
    font-size: 12px;
}

.containerV3 {
    font-size: 16px;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
  }
  #options-container {
    text-align: center;
  }
  #options-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #options-container h3 {
 font-size: 30px;
  }

  #options-container button {
    padding: 0.6em 1.2em;
    border: 3px solid #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 30px;
  }
  #options-container button:disabled {
    border: 3px solid #808080;
    color: #808080;
    background-color: #efefef;
  }
  #options-container button.active {
    background-color: #2ecd50;
    border: 3px solid #000000;
    color: #fff;
  }
  .letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
  }
  #letter-container button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  #hintContainer {
    font-size: 24px;
  }
  
  #user-input-section {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
  }
  canvas {
    display: block;
    margin: auto;
    border: 10px solid #1fbe2c;
    border-radius: 10px;
  }
  .hide {
    display: none;
  }
  #result-text h2 {
    font-size: 1.8em;
    text-align: center;
  }
  #result-text p {
    font-size: 1.25em;
    margin: 1em 0 2em 0;
  }
  #result-text span {
    font-weight: 600;
  }
  #new-game-button {
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: #1aac48;
    border: 3px solid #000000;
    color: #fff;
    border-radius: 0.2em;
    cursor: pointer;
  }
  .win-msg {
    color: #39d78d;
  }
  .lose-msg {
    color: #fe5152;
  }
  
  .imageContainer img{
    max-width: 400px;
    max-height: 500px;
    display: none;
   
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    justify-content: center;

}

.modal-content button{
  position: relative;
}

.modal-content p{
    color: #000000;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.HangmanSide{
  width: 1100px;
  margin: auto;
  border:solid #555 5px;
  display: flex;
}

.HangmanRightSide{
  width: 500px;
  margin:auto;
  border:solid #555 5px;
  height: fit-content;
  padding: 10px;
}

.HangmanLeftSide{
  width: 500px;
  margin:auto;
  border:solid #555 5px;
  height: fit-content;
  padding: 10px;
}

.optionsContainer button p{
  font: 40px;
}

section 
{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section::before 
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,#0f0,#000);
	animation: animate 5s linear infinite;
}
@keyframes animate 
{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}
section span 
{
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: #181818;
	z-index: 2;
	transition: 1.5s;
}
section span:hover 
{
	background: #0f0;
	transition: 0s;
}

section .BackgroundContainer
{
	position: absolute;
	width: fit-content;
  height: fit-content;
  background: #222;  
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
  border-color: #3dbf26;
  box-shadow: 0 0 50px #63bf26;
  
}
section .BackgroundContainer .content 
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
  
}
section .BackgroundContainer .content h2 
{
	font-size: 2em;
	color: #0f0;
}
section .BackgroundContainer .content .form 
{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;

}
section .BackgroundContainer .content .form .inputBox
{
	position: relative;
	width: 100%;

}
section .BackgroundContainer .content .form .inputBox input 
{
	position: relative;
	width: 400px;
	background: #333;
	border: none;
	outline: none;
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	font-size: 1.5rem;

}

.LoginButton input{ 
  background-image: linear-gradient(to right, #52c234 0%, #061700  51%, #52c234  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  
  border-radius: 10px;
  display: block;
}


.LoginButton input:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


section .BackgroundContainer .content .form .inputBox i 
{
	position: absolute;
	left: 0;
	padding: 15px 10px;
	font-style: normal;
  
	color: #aaa;
	transition: 0.5s;
	pointer-events: none;
  
}
.BackgroundContainer .content .form .inputBox input:focus ~ i,
.BackgroundContainer .content .form .inputBox input:valid ~ i
{
	transform: translateY(-7.5px);
	font-size: 0.8em;
	color: #fff;
  font-size: 1.5rem;
}
.BackgroundContainer .content .form .links 
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}



.BackgroundContainer .content .form .links a 
{
	color: #fff;
	text-decoration: none;
  font-size: 1.5rem;
}
.BackgroundContainer .content .form .links a:nth-child(2)
{
	color: #0f0;
	font-weight: 600;
}

.BackgroundContainer .content .form .links a:nth-child(2):hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.BackgroundContainer .content .form .links a:nth-child(1):hover{
  background-position: right center; /* change the direction of the change here */
  color: #0f0;
  text-decoration: none;
}

BackgroundContainer .content .form .inputBox input[type="submit"]
{
	padding: 10px;
	background: #0f0;
	color: #000;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: pointer;
}
input[type="submit"]:active
{
	opacity: 0.6;
}

.tempForm{
  all: initial;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alert{
  z-index: 2;
}

.homeContainer{
	position: absolute;
	width: 1140px;
  height: fit-content;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9); 
}

.homeContainer .content{
  position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  height: fit-content;
	gap: 40px;
}

.homeScreen{
	position: absolute;
	width: 100vw;
	height: 1500px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.homeScreen::before 
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,#0f0,#000);
	animation: animate 5s linear infinite;
}




.HomeAlert{
  position: absolute;
  width: 1140px;
  height: 1300px;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.603);
  margin: auto;
  justify-self: center;
  justify-content: center;
  z-index: 500;

  
}

.HomeAlertContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;

  justify-content: center;
  animation: pulse 1.5s infinite;


}

.HomeAlertContent button{
  
  margin: auto;
  justify-self: center;
  font-size: 1.25em;
  padding: 0.5em 1em;
  background-color: #1aac48;
  border: 3px solid #000000;
  color: #fff;
  border-radius: 0.2em;
  cursor: pointer;
 
  
}

.HomeAlert p{
  color: #000;
  font-size: 30px;
  text-align: left;
  
}



.instructions{
  width: 750px;
  height: fit-content;
  justify-content: center;
  margin: auto;
  padding: 10px;
  background-color: #222;
  border: solid 2px #333;
  align-items: center;
}

.instructions p{
  font-size: 24px;
}


.accordion-item {
  margin-bottom: 10px;
  width: fit-content;
}

.accordion-item button{
  font-size: 26px;
}

.accordion-body a{
  text-decoration: none;
  color: rgb(8, 150, 8);
}


.accordion-body a:hover{
  text-decoration: none;
  color: #000;
}    


.accordion-button {
  background-color: #f1f1f1;
  border: none;
  text-align: left;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.accordion-collapse {
  display: none;
  background-color: #f9f9f9;
  width: 300px;
}

.NoGameSection{
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 20px;
  justify-content: center;
  background-color: #333;
  border: solid 2px #222;
  color: white;
  font-size: 30px;
  animation: pulse 1.5s infinite;
  border-color: #3dbf26;
  box-shadow: 0 0 50px #63bf26;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Basic styles for the navbar */
.navBar {
  background-color: #181818;;
  color: white;
  padding: 10px 20px;
}

.container6 {
  
  margin: auto;
  border:solid rgb(103, 90, 90);
  border-radius: 50px;
  padding: 10px;
  padding-left: 50px;
  background-color: #000000;

}

.navBar-brand {
  font-size: 34px;
  text-decoration: none;
  color: white;
 
}

.navBar-brand:hover{
  color: rgb(52, 173, 43);
}

.navBar-menu {
  display: flex;
  align-items: center;

}

.navBar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-Item {
  margin-right: 20px;
}

.nav-Link {
  text-decoration: none;
  color: green;
  font-weight: bold;
  font-size: 22px;
  transition: color 0.3s ease;
 
}

.nav-Link:hover {
  color: #fff; /* Change color on hover */
}


.loginSection{
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.loginSection h1{
  padding-right: 130px;
}

.portrisSection{
  width: 1300px;
  margin: auto;
  display: flex;
  border: 5px solid #333;
  padding: 10px;
  justify-content: center;
  border-color: #2bbf26;
  box-shadow: 0 0 50px #29bf26;
  background-color: #222;
  
}

.spacer{
  width: 200px;

}



.bannerSpan{
  all: initial;
  padding: 10px;
  font-size: 30px;
  color: #bbb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;

}

.bannerSpan:hover{
  all: initial;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding: 10px;
  font-size: 26px;
  font-weight: 600;
}

.level{
  all: initial;
  padding: 10px;
  font-size: 26px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.score{
  all: initial;
  padding: 10px;
  font-size: 26px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}


.score:hover,.level:hover{
  all: initial;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.dashes{
  padding: 5px;
  all: initial;
  padding: 10px;
  font-size: 26px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  
}

.bannerSpan2{
  all: initial;
  padding: 10px;
  font-size: 26px;
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.Game3Container{
    position: absolute;
    width: 1140px;
    height: fit-content;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0,0,0,9);
    margin-bottom: 400px;
}



@media  screen and (max-width: 740px) {


body{
   margin: auto;
}

.section{
    width: 400px;
    margin: auto;
}

.containerV2{
    
    width: 400px;
    margin: auto;
    height: 750px;
}


.buttons button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 14px 0;
    font-size: 24px;
    border-radius: 8px;
    width: calc(50% - 6 px);
    width: 150px;
}


.map{
    width: 400px;
   
    height: 800px;
    position: relative;
    
    margin: auto;
    border: solid red;
    
}

.map::before{
    content: "";
    background: url("../static/map1.png");
    background-size:cover;
    background-position: center ;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
}

.game1{
    width: 120px;
    height: 50px;
    position: relative;
    background-color: #04befe;
    font-size: 14px;
    color: white;
    text-align: center;
 margin: auto;
 position: absolute;
 margin-left: 50px;



    
}


.game2{
    width: 100px;
    
    position: absolute;
  

    color: white;
    text-align: center;
 margin: auto;
    
margin-left: 300px;
margin-top: 250px;

}

.game3{
    width: 100px;
    height: 50px;
    position: absolute;

   
    color: white;
    text-align: center;
    margin: auto;

    margin-left: 200px;
    margin-top: 150px;


    
   

    
}


}